body {
  background-color: antiquewhite;
}
.card {
  /* border: 1px solid rgb(69, 69, 69); */
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  background-color: rgb(252, 248, 241);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#suggestions {
  /* margin-top: 10px; */
  background-color: white;
  border: 1px solid #ccc;
  max-width: 169px;
}